.box{
    display: flex;
    justify-content: center;
    align-content:center ;
   min-height: 50vh;
   width: 80%;
   margin: auto;
}
.box img{
    width: 13%;
    height: 300px;
   
    object-fit: cover;
    border:2px solid white;
    border-radius: 10px;
   transition: all ease 1s;
}
.box img:hover{
    width: 40%;
    transition: 2s;
    scale: 1.04;
    cursor: pointer;
    
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hei{
    min-height: 70vh;
  }

  /* Only apply box styles on screens ≥ 640px */
