@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  background-image: radial-gradient(white 1px, transparent 1px), radial-gradient(white 1px, transparent 1px);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4a00e0, #8e2de2);
  border-radius: 7px;
  border: 2px solid #2a2a2a;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
} */



body{
  overflow-x: hidden;
}

/* Global styles for the custom scrollbar */

::-webkit-scrollbar {
display: none;
}

.scrollbar-enable {
  overflow-y: auto !important;
}
.custom-scrollbar {
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 18px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}